<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ShopIt NOW!</title>
    <link rel="stylesheet" href="/style_home.css" />
  </head>
  <body>
    <div class="wrapper">
      <div class="container">
        <div class="logo">
          <img src="LOGO.svg" alt="LOGO HERE" />
        </div>
        <nav>
          <ul>
            <li>category 1</li>
            <li>category 2</li>
            <li>category 3</li>
            <li>category 4</li>
          </ul>
          <ul class="action-icons">
            <li id="profile" onclick=profiletab(this)><img src="user.svg" alt="user" /><p>Profile</p></li>
            <li><img src="WishList.svg" alt="Wish List" /><p>Wish List</p></li>
            <li><img src="bag.svg" alt="Bag" /><p>Bag</p></li>
          </ul>
        </nav>
      </div>
      <div class="profiletabhide" id="profiletab">
        <div>
            <h3>welcome</h3>
            <button>
                <a href="/login">login/signup</a>
            </button>
        </div>
        <ul>
            <li>Orders</li>
            <li>Wish List</li>
            <li>Contact Us</li>
        </ul>
      </div>
      <div class="ads-courosel">
        <div class="slide" id="1"><img src="add1.jpg" alt="" /><p>SLIDE 1</p></div>
        <div class="slide" id="2"><img src="add2.jpg" alt="" /><p>SLIDE 2</p></div>
        <div class="ads-pointer" id="pointers">
          
        </div>
      </div>
      <section id="NP-section">
        <div class="sec-head">
            <h1>New Products</h1>
        </div>
        <div id="new-products">
        <div class="product-card">
            <div class="img">
                <img src="add1.jpg" alt="">
            </div>
            <div class="info">
                <p>Product Title</p>
                <h3>$999</h3>
            </div>
        </div>
        <div class="product-card">
            <div class="img">
                <img src="add1.jpg" alt="">
            </div>
            <div class="info">
                <p>Product Title</p>
                <h3>$999</h3>
            </div>
        </div>
        <div class="product-card">
            <div class="img">
                <img src="add1.jpg" alt="">
            </div>
            <div class="info">
                <p>Product Title</p>
                <h3>$999</h3>
            </div>
        </div>
        <div class="product-card">
            <div class="img">
                <img src="add1.jpg" alt="">
            </div>
            <div class="info">
                <p>Product Title</p>
                <h3>$999</h3>
            </div>
        </div>
        <div class="product-card">
            <div class="img">
                <img src="add1.jpg" alt="">
            </div>
            <div class="info">
                <p>Product Title</p>
                <h3>$999</h3>
            </div>
        </div>
        <div class="product-card">
            <div class="img">
                <img src="add1.jpg" alt="">
            </div>
            <div class="info">
                <p>Product Title</p>
                <h3>$999</h3>
            </div>
        </div>
        <div class="product-card">
            <div class="img">
                <img src="add1.jpg" alt="">
            </div>
            <div class="info">
                <p>Product Title</p>
                <h3>$999</h3>
            </div>
        </div>
        </div>
      </section>
      <section id="OP-section">
        <div class="sec-head">
            <h1>Great Products Great Offer</h1>
        </div>
        <div id="new-products">
        <div class="product-card">
            <div class="img">
                <img src="add1.jpg" alt="">
            </div>
            <div class="info">
                <p>Product Title</p>
                <h3>$999</h3>
            </div>
        </div>
        <div class="product-card">
            <div class="img">
                <img src="add1.jpg" alt="">
            </div>
            <div class="info">
                <p>Product Title</p>
                <h3>$999</h3>
            </div>
        </div>
        <div class="product-card">
            <div class="img">
                <img src="add1.jpg" alt="">
            </div>
            <div class="info">
                <p>Product Title</p>
                <h3>$999</h3>
            </div>
        </div>
        <div class="product-card">
            <div class="img">
                <img src="add1.jpg" alt="">
            </div>
            <div class="info">
                <p>Product Title</p>
                <h3>$999</h3>
            </div>
        </div>
        <div class="product-card">
            <div class="img">
                <img src="add1.jpg" alt="">
            </div>
            <div class="info">
                <p>Product Title</p>
                <h3>$999</h3>
            </div>
        </div>
        <div class="product-card">
            <div class="img">
                <img src="add1.jpg" alt="">
            </div>
            <div class="info">
                <p>Product Title</p>
                <h3>$999</h3>
            </div>
        </div>
        <div class="product-card">
            <div class="img">
                <img src="add1.jpg" alt="">
            </div>
            <div class="info">
                <p>Product Title</p>
                <h3>$999</h3>
            </div>
        </div>
        </div>
      </section>
      <section id="Category-section">
        <div class="sec-head">
            <h1>Product Category</h1>
        </div>
        <div id="products-Category">
            <div class="category-card">
                <div class="img">
                    <img src="add1.jpg" alt="">
                    <div class="info">
                    <h2>Product Title</h2>
                    <h3>$999</h3>
                </div>
                </div>
            </div>
            <div class="category-card">
                <div class="img">
                    <img src="add1.jpg" alt="">
                    <div class="info">
                    <h2>Product Title</h2>
                    <h3>$999</h3>
                </div>
                </div>
            </div>
            <div class="category-card">
                <div class="img">
                    <img src="add1.jpg" alt="">
                    <div class="info">
                    <h2>Product Title</h2>
                    <h3>$999</h3>
                </div>
                </div>
            </div>
            <div class="category-card">
                <div class="img">
                    <img src="add1.jpg" alt="">
                    <div class="info">
                    <h2>Product Title</h2>
                    <h3>$999</h3>
                </div>
                </div>
            </div>
            <div class="category-card">
                <div class="img">
                    <img src="add1.jpg" alt="">
                    <div class="info">
                    <h2>Product Title</h2>
                    <h3>$999</h3>
                </div>
                </div>
            </div>
        
        </div>

      </section>
    </div>
    <script type="text/javascript" src="/animate.js"></script>
  </body>
</html>