<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ShopIt NOW! | PRODUCTS</title>
    <link rel="stylesheet" href="/style_home.css" />
    <link rel="stylesheet" href="/style_products.css" />
    <link rel="stylesheet" href="/style_orders.css" />
  </head>
  <body>
    <div class="wrapper">
      <div class="container">
        <div class="logo">
          <img src="LOGO.svg" alt="LOGO HERE" />
        </div>
        <nav>
          <ul>
            <li>category 1</li>
            <li>category 2</li>
            <li>category 3</li>
            <li>category 4</li>
          </ul>
          <ul class="action-icons">
            <li id="profile" onclick="profiletab(this)"><img
                src="user.svg"
                alt="user"
              /><p>Profile</p></li>
            <li><img src="WishList.svg" alt="Wish List" /><p>Wish List</p></li>
            <li><img src="bag.svg" alt="Bag" /><p>Bag</p></li>
          </ul>
        </nav>
      </div>
      <div class="profiletabhide" id="profiletab">
        <div>
          <h3>welcome</h3>
          <button>
            <a href="/login">login/signup</a>
          </button>
        </div>
        <ul>
          <li>Orders</li>
          <li>Wish List</li>
          <li>Contact Us</li>
        </ul>
      </div>
      <section id="products-display">
        <div class="order-main">
          <div class="sec-head-order">
            <h4>Bag</h4>
            <h4>Address</h4>
            <h4>Payment</h4>
          </div>
            <section class="order-container" id="order-details">
                <div class="bag-products">
                    <h2>Items in the bag</h2>
                    <div class="bag-list">
                        <div class="bag-itemCard">
                            <button class="bag-cancel"><img src="cancel_btn.svg" class="cancel_btn" alt=""></button>
                
                            <div class="item-img">
                                
                                <img class="bag-img" src="add1.jpg" alt="">
                            </div>
                            <div class="item-info">
                                <h3>Product Title</h3>
                                <p>Product sub title</p>
                                <div class="size-qty">
                                    <select name="size" id="size">
                                        <option value="M">size: M</option>
                                        <option value="L">size: L</option>
                                        <option value="XL">size: XL</option>
                                        <option value="XXL">size: XXL</option>
                                    </select>
                                    <input type="number" name="qty" id="qty" placeholder="1" min="1" max="10">
                                </div>
                                <h3 class="price">Rs. 1999 </h3>
                            </div>
                        </div>
                        <div class="bag-itemCard">
                            <button class="bag-cancel"><img src="cancel_btn.svg" class="cancel_btn" alt=""></button>
                
                            <div class="item-img">
                                
                                <img class="bag-img" src="add1.jpg" alt="">
                            </div>
                            <div class="item-info">
                                <h3>Product Title</h3>
                                <p>Product sub title</p>
                                <div class="size-qty">
                                    <select name="size" id="size">
                                        <option value="M">size: M</option>
                                        <option value="L">size: L</option>
                                        <option value="XL">size: XL</option>
                                        <option value="XXL">size: XXL</option>
                                    </select>
                                    <input type="number" name="qty" id="qty" placeholder="1" min="1" max="10">
                                </div>
                                <h3 class="price">Rs. 1999 </h3>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="order-pricing">
                    <div class="price-table">
                        <h4>price details</h4>
                        <div class="pt-row">
                                <p>Total MRP</p>
                                <p>1999</p>
                        </div>
                        <div class="pt-row">
                                <p>Discounted price</p>
                                <p>1599</p>
                        </div>
                        <div class="pt-row">
                                <p>Shipping charges</p>
                                <p>199</p>
                        </div>
                        <div class="pt-row">
                                <p>platform fee</p>
                                <p>20</p>
                        </div>
                        <div class="pt-row total">
                                <h5>Total Amount</h5>
                                <h5>1619</h5>
                        </div>
                    </div>
                    <button class="book-order" onclick="proceedOrders()">Proceed to Payments</button>
                </div>
            </section>
            <section class="order-container inactive" id="address">
              <div class="address-tab">
                <form action="">
                  <div class="add-head">
                    <h2>Address</h2>
                  </div>
                  <div class="inputgroup" >
                    <input type="text" name="fullname" id="fullname" placeholder="Your Name Here">
                    <textarea name="street" id="street" cols="100" rows="10" placeholder="Your full address"></textarea>
                    <input type="text" name="Pincode" id="Pincode" placeholder="City Pincode">
                  </div>
                  <div class="form-submit">
                    <button type="submit" class="book-order">Prodeed to payment</button>
                  </div>
                </form>
              </div>
            </section>
        </div>

      </section>
    </div>
    <script type="text/javascript" src="/animate.js"></script>
  </body>
</html>